<app-nav-bar-ge></app-nav-bar-ge>

<div class="cartao">

    <h2>Cadastrar aluno</h2>

    <div class="dadosAluno">

        <p-floatLabel>
            <input id="nomeAluno" type="text" pInputText [(ngModel)]="nomeAluno" />
            <label for="nomeAluno">Nome Completo</label>
        </p-floatLabel>

        <!-- class="p-inputtext-lg" -->

        <p-floatLabel>
            <p-inputMask mask="99/99/9999" [(ngModel)]="dataNascimento" placeholder="99/99/9999"></p-inputMask>
            <label for="dataNascimento">Data de Nascimento</label>
        </p-floatLabel>

        <p-floatLabel>
            <p-inputMask mask="999.999.999-99" [(ngModel)]="cpf" placeholder="999.999.999-99"></p-inputMask>
            <label for="cpf">CPF</label>
        </p-floatLabel>

    </div>

    <div class="dadosAluno">

        <p-floatLabel>
            <input id="nomeMae" type="text" pInputText [(ngModel)]="nomeMae" />
            <label for="nomeMae">Nome da Mãe</label>
        </p-floatLabel>

        <p-floatLabel>
            <input id="nomePai" type="text" pInputText [(ngModel)]="nomePai" />
            <label for="nomePai">Nome do Pai</label>
        </p-floatLabel>

    </div>

    <div class="dadosAluno">

        <p-floatLabel>
            <input id="endereco" type="text" pInputText [(ngModel)]="endereco" />
            <label for="endereco">Endereço</label>
        </p-floatLabel>

        <p-floatLabel>
            <p-inputMask mask="(99) 99999-9999" [(ngModel)]="phone" placeholder="(99) 99999-9999"></p-inputMask>
            <label for="phone">Contato</label>
        </p-floatLabel>

    </div>

    <div class="dadosAluno">
        <p-button label="Limpar formulário" [outlined]="true" severity="danger"></p-button>
        <p-button label="Enviar dados e cadastrar" severity="success" icon="pi pi-check" iconPos="right"></p-button>
    </div>

</div>