<header class="header">

    <div class="espacamento">
        <p-sidebar [(visible)]="sidebarVisible">
            <h4>Todas as funcionalidades</h4>
            <p>
                Opções aqui
            </p>
        </p-sidebar>
        <p-button (click)="sidebarVisible = true" icon="pi pi-list" severity="info" [raised]="true"></p-button>
        <h4>Gestão Escolar v.2.0.24</h4>
    </div>

    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Pesquisar função" />
    </p-iconField>

    <div class="espacamento">
        <!--<p-avatar icon="pi pi-user" styleClass="mr-2" size="large"></p-avatar>-->
        <h4>Francisco | 222.333.444-55</h4>

        <div class="card flex justify-content-center">
            <p-splitButton icon="pi pi-user" (click)="update()" [model]="items"
                styleClass="p-button-raised p-button-rounded p-button-info mr-2 mb-2"></p-splitButton>
        </div>
    </div>

</header>