ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.header {
    background: rgb(56, 118, 29);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    box-shadow: 0px 10px 15px -10px #303030;
    position: sticky;
    top:0;
}

.espacamento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.imagens {
    box-shadow: 0px 5px 10px -5px #303030;
}

.dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.botao {
    margin-top: 15px;
}

.separador {
    display: flex;
    flex-direction: row;
    color: rgb(47, 47, 47) !important;
}

.divfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

hr {
    width: 97%;
    height: 2px;
    border: none;
    border-radius: 6px;
    background: rgb(229, 231, 235);
}

footer {
    background-color: rgb(245, 245, 247);
    box-shadow: 0px -2px 7px -5px #303030;
    margin-top: 20px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}