ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background: rgb(28, 124, 49);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: white;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.separador {
    display: flex;
    flex-direction: row;
    color: rgb(47, 47, 47) !important;
}

.botao {
    margin-top: 10px;
}