<div class="card flex justify-content-center">
    <span class="p-float-label">
        <input pInputText id="username" [(ngModel)]="value" />
        <label for="username">Username</label>
    </span>
  </div>

<div class="card flex justify-content-center">
    <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>
</div>

<div class="card flex justify-content-center">
    <p-button label="Esqueceu a senha?" [text]="true" [raised]="true" severity="warning"></p-button>
    <button pButton pRipple label="Entrar" class="p-button-success"></button>
</div>