a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.funcionalidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

.grade {
    margin: 20px;
    gap: 15px;

    display: grid;
    grid-template-columns: 4fr 6fr 2fr 2fr 2fr;

    align-items: center;
    justify-content: center;

}

.grade2 {
    margin: 20px;
    gap: 15px;

    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;

    align-items: center;
    justify-content: space-between;
}

.cartao {
    background-color: #f9f9f9;

    min-height: 160px;

    margin: 5px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px #6b6b6b;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: .4s;
    cursor: pointer;
    
}

.cartao img {
    max-width: 100px;
    margin: 5px;
}

.cartao h4 {
    margin: 5px;
    color: black;
}

/* .grade:hover > :not(:hover){
    transform: scale(0.98);
}

.grade2:hover > :not(:hover){
    transform: scale(0.98);
} */

.cartao:hover {
    transform: scale(1.05);
}
