<app-nav-bar-ge></app-nav-bar-ge>

<section class="grade">

    <div class="cartao">

        <img src="../../assets/img/graficos.png" alt="">
        <h4>Gráficos e Desempenho</h4>

    </div>
    
    <div class="cartao">

        <img src="../../assets/img/calendario.png" alt="">
        <h4>Calendário e Planos</h4>

    </div>

    <div class="cartao" routerLink="/cadastrar-aluno">

        <img src="../../assets/img/adicionaraluno.png" alt="">
        <h4>Cadastrar aluno</h4>

    </div>

    <div class="cartao">

        <img src="../../assets/img/pesquisaraluno.png" alt="">
        <h4>Pesquisar aluno</h4>

    </div>

    <div class="cartao">

        <img src="../../assets/img/gerenciarturmas.png" alt="">
        <h4>Gerenciar turmas</h4>

    </div>

    <!-- <div>
      <p-card header="Gráficos e Desempenho" subheader="Analise os dados da sua instituição" [style]="{ width: '100%', height: '75%' }">
        <ng-template pTemplate="header">
            <img style="width: 150px;" alt="Graficos" src="../../assets/img/graficos.png ">
        </ng-template>
      </p-card>
    </div>

    <div>
      <p-card header="Planner" subheader="Confira as datas importantes" [style]="{ width: '100%', height: '100%' }">
      <ng-template pTemplate="header">
          <img style="width: 150px;" alt="Calendario" src="../../assets/img/calendario.png" />
      </ng-template>
      </p-card>
    </div>
    
    <div>
      <p-card header="Adicionar aluno" subheader="Analise os dados da sua instituição" [style]="{ width: '100%', height: '75%' }">
      <ng-template pTemplate="header">
          <img style="width: 150px;" alt="AlunoADD" src="../../assets/img/adicionaraluno.png" />
      </ng-template>
      </p-card>
    </div>
    
    <div>
      <p-card header="Pesquisar Aluno" subheader="Analise os dados da sua instituição" [style]="{ width: '100%' }">
      <ng-template pTemplate="header">
          <img style="width: 150px;" alt="PesquisarAluno" src="../../assets/img/pesquisaraluno.png" />
      </ng-template>
      </p-card>
    </div> -->

</section>

<section class="grade2">

    <div class="cartao">

        <img src="../../assets/img/chatemail.png" alt="">
        <h4>Chat e avisos por e-mail</h4>

    </div>

    <div class="cartao">

        <img src="../../assets/img/salavirtual.png" alt="">
        <h4>Sala Virtual</h4>

    </div>

    <div class="cartao">

        <img src="../../assets/img/funcioarios.png" alt="">
        <h4>Gerenciar Funcionários</h4>

    </div>

    <div class="cartao">

        <img src="../../assets/img/gerardocumentos.png" alt="">
        <h4>Gerar documentos</h4>

    </div>

</section>