  <header class="header">

    <div class="espacamento">
      <p-sidebar [(visible)]="sidebarVisible">
        <h4>Todas as funcionalidades</h4>
        <p>
            Opções aqui
        </p>
      </p-sidebar>
      <p-button (click)="sidebarVisible = true" icon="pi pi-list" severity="info" [raised]="true"></p-button>
      <h4>Gestão Escolar v.2.0.24</h4>
    </div>

    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Pesquisar função" />
    </p-iconField>
    
    <div class="espacamento">
      <!--<p-avatar icon="pi pi-user" styleClass="mr-2" size="large"></p-avatar>-->
      <h4>Francisco | 222.333.444-55</h4>

      <div class="card flex justify-content-center">
        <p-splitButton icon="pi pi-user" (click)="update()" [model]="items" styleClass="p-button-raised p-button-rounded p-button-info mr-2 mb-2"></p-splitButton>
      </div>
    </div>

  </header>

  <section class="grade">

    <div class="cartao">

      <img src="../../assets/img/graficos.png" alt="">
      <h4>Gráficos e Desempenho</h4>
  
    </div>

    <div class="cartao">

      <img src="../../assets/img/calendario.png" alt="">
      <h4>Calendário e Planos</h4>
  
    </div>

    <div class="cartao">

      <img src="../../assets/img/adicionaraluno.png" alt="">
      <h4>Cadastrar aluno</h4>
  
    </div>

    <div class="cartao">

      <img src="../../assets/img/pesquisaraluno.png" alt="">
      <h4>Pesquisar aluno</h4>
  
    </div>

    <div class="cartao">

      <img src="../../assets/img/gerenciarturmas.png" alt="">
      <h4>Gerenciar turmas</h4>
  
    </div>

      <!-- <div>
        <p-card header="Gráficos e Desempenho" subheader="Analise os dados da sua instituição" [style]="{ width: '100%', height: '75%' }">
          <ng-template pTemplate="header">
              <img style="width: 150px;" alt="Graficos" src="../../assets/img/graficos.png ">
          </ng-template>
       </p-card>
      </div>
  
      <div>
        <p-card header="Planner" subheader="Confira as datas importantes" [style]="{ width: '100%', height: '100%' }">
        <ng-template pTemplate="header">
            <img style="width: 150px;" alt="Calendario" src="../../assets/img/calendario.png" />
        </ng-template>
        </p-card>
      </div>
      
      <div>
        <p-card header="Adicionar aluno" subheader="Analise os dados da sua instituição" [style]="{ width: '100%', height: '75%' }">
        <ng-template pTemplate="header">
            <img style="width: 150px;" alt="AlunoADD" src="../../assets/img/adicionaraluno.png" />
        </ng-template>
        </p-card>
      </div>
      
      <div>
        <p-card header="Pesquisar Aluno" subheader="Analise os dados da sua instituição" [style]="{ width: '100%' }">
        <ng-template pTemplate="header">
            <img style="width: 150px;" alt="PesquisarAluno" src="../../assets/img/pesquisaraluno.png" />
        </ng-template>
        </p-card>
      </div> -->
      
  </section>

  <section class="grade2">

    <div class="cartao">

      <img src="../../assets/img/chatemail.png" alt="">
      <h4>Chat e avisos por e-mail</h4>
  
    </div>

    <div class="cartao">

      <img src="../../assets/img/salavirtual.png" alt="">
      <h4>Sala Virtual</h4>
  
    </div>

    <div class="cartao">

      <img src="../../assets/img/funcioarios.png" alt="">
      <h4>Gerenciar Funcionários</h4>
  
    </div>

    <div class="cartao">

      <img src="../../assets/img/gerardocumentos.png" alt="">
      <h4>Gerar documentos</h4>
  
    </div>

  </section>
